# see http://about.travis-ci.org/docs/user/languages/php/ for more hints.
language: php

# list any PHP version you want to test against.
php:
  - 7.1
  - 7.2

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover ./build/logs/clover.xml

script: ./vendor/bin/phpunit --coverage-text --coverage-clover ./build/logs/clover.xml

matrix:
  fast_finish: true
