<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Unit test">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Connectors</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="ServiceProvider.php">src/</directory>
                <directory>src/Adaptors</directory>
                <directory>src/Console</directory>
                <directory>src/Connectors</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
